
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="cheque"></div>

    @section scripts{
        <script src="~/Scripts/ReactScript/dist/cheque.bundle.js"></script>
    }
</body>

